.text-center {
	text-align: center;
}

.mb-big {
	margin-bottom: 6rem;
}

.mb-small {
	margin-bottom: 1.5rem;
}

.mt-big {
	margin-top: 6rem;
}

.mt-small {
	margin-top: 1.5rem;
}

.mx-auto {
	margin-right: auto;
	margin-left: auto;
}