//Fonts
$ff-ubuntu						: 	'Ubuntu',sans-serif;
$ff-default						:		  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",																			sans-serif;
//COLORS
$clr-white						:		#fff;
$clr-blue							: 	#1985A1;
$clr-pink							:   #E63462;
$clr-grey							:		#9292a2;
$clr-black-1					: 	#333;
$clr-black-2					: 	#101015;
$clr-orange						: 	#E60000;
$clr-yellow						:		#FFD300;
$clr-yellow-2					:	  #FFBF00;