//Fonts
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Ubuntu:300,400,700');
$ff-ubuntu						: 	'Ubuntu',sans-serif;
$ff-game						:	'Press Start 2P',cursive;
//COLORS
$clr-white						:	#fff;
$clr-blue						: 	#1985A1;
$clr-pink						:   #E63462;
$clr-grey						:	#9292a2;
$clr-black-1					: 	#333;
$clr-black-2					: 	#101015;
$clr-orange						: 	#E60000;
$clr-yellow						:	#faef14;