.post {
	word-break: break-word;
	&__banner {
		min-height: 45rem;
		position: relative;
		@include flex;
	}
	&__title {
		font-size: 5rem;
		text-transform: uppercase;
		text-shadow: 4px 2px 0 rgba($clr-blue, 1);
		
		@include mobile {
			font-size: 2.4rem;
		}
	}
	&__content {
		padding: 2rem 0;
		background-color: $clr-white;
		color: $clr-black-2;

		& h1,
		h2,
		p {
			letter-spacing: 0.5px;
			line-height: 2;
			max-width: 92rem;
			text-size-adjust: 100%;
			padding-left: 2rem;
			margin: 0 auto 3rem;

		}
		& h1,
		h2 {
			line-height: 3;
		}
		& p {
			font-size: 1.8rem;
			@include mobile {
				font-size: 1.6rem;
			}
		}
	}
	&__comments {
		max-width: 90rem;
		margin: 0 auto;
		margin-top: 20rem;
	}
	&__share {
		padding: 6rem 0;
		width: 100%;
	}
}