<div class="topbar">
	<div class="container">
		<div class="topbar__social">
			<a href="https://www.facebook.com/fratkaos/" target="_blank">
				<i class="fab fa-facebook-f fa-fw" style="vertical-align: text-top;"></i>
			</a>
			<a href="">
				<i class="fab fa-discord fa-fw"></i>
			</a>
		</div>
	</div>

</div>
<div class="header">
	<div class="container">
		<div class="header__main-area">
			<div class="header__menu">

				<nav class="header__navbar">
					<ul class="header__navbar-nav">
						<li class="header__navbar-nav-items">
							<a href="#">Inicio</a>
						</li>
						<li class="header__navbar-nav-items">
							<a href="#">Notícias</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>