.container-card {
	display: flex;
	margin-top: 25vh;
	justify-content: space-between;
	flex-wrap: wrap;
	@include mobile {
		justify-content: center;
	}
}

.card {
	background: $clr-white;
	min-height: 24rem;
	color: $clr-black-1;
	border-radius: 4px;
	margin-bottom: 2rem;
	overflow: hidden;
	display: flex;
	flex-basis: 100%;
	& a {
		text-decoration: none;
		text-transform: uppercase;
		color: $clr-black-1;
		transition: color 300ms ease-in-out;
		&:hover {
			color: $clr-blue;
			transition: color 300ms ease-in-out;
		}
	}
	&__picture {
		overflow: hidden;
		height: inherit;
		flex-basis: 30%;
		position: relative;
		& a {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0
		}
		&--img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 500ms ease;
			cursor: pointer;
			&:hover {
				transform: scale(1.05);
				transition: transform 500ms ease;
			}
		}
		@include mobile {
			flex-basis: 50%;
		}
	}
	&__content {
		padding: 1.5rem;
		display: flex;
		flex-direction: column;
		flex-basis: 70%;
		& .data {
			font-size: 1.2rem;
			color: $clr-grey;
		}
		@include mobile {
			flex-basis: 50%;
		}
	}
	&__excerpt {
		padding: .675rem 0;
	}
	&__author {
		margin-right: 2rem;
	}
	&__footer {
		border-top: 1px solid #e4e7ed;
		text-transform: uppercase;
		display: flex;
		justify-content: flex-end;
		margin-top: auto;
		& span {
			position: relative;
		}
		& .fa-tags {
			color: $clr-grey;
			margin-right: .5rem;
		}
	}
	@include mobile {
		flex-direction: column;
		height: 100%;
		flex-basis: 90%;
		justify-content: center;
	}
}