.footer {
	margin-top: 40vh;
	background-image: linear-gradient(to top, #434343 -120%, black 40%);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	white-space: nowrap;
	h4 {
		color: $clr-yellow-2;
		font-size: 1.3em;
	}
	a {
		text-decoration: none;
	}
	>* {
		flex-basis: 280px;
		&:not(:first-child) {
			padding-left: 5rem;
			border-left: 1px solid rgba($clr-grey, .2);
		}
		& li {
			height: 36px;
			line-height: 28px;
		}
	}
	@include mobile {
		flex-direction: column;
		align-items: center;
		text-align: center;
		>* {
			width: 100%;
			&:not(:first-child) {
				padding: 0 1rem;
			}
		}
	}
}