<!DOCTYPE html>
<html lang="pt-BR">
{%seo%}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width={device-width}, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta http-equiv="content-language" content="pt-br">
	<meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}"
	/> 
	<!-- <title> {%if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}</title> -->
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/main.css">
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
	{% include font.html %}
</head>
<body>
	{% include nav.html %}
	{{content}}
	{% include footer.html %}

	<script src="{{site.baseurl}}/assets/js/bundle.js"></script>
</body>
</html>